* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui;
  letter-spacing: 0.025em;
}

body {
  padding: 32px;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  padding: 80px;
}

.purple {
  color: #6415FF;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #243e63;
  transition: all 300ms;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
}

a:not(.btn):hover {
  color: #6415FF;
  border-bottom: 2px solid;
}

h1, h5, h6, span {
  color: #243e63;
}

p {
  color: #777;
}

/* used for section inter-headings*/
h1 {
  font-size: 48px;
  font-weight: 900;
  margin-top: 16px;
}

/* used for section pre-headings */
h5 {
  font-size: 16px;
  color: #6415FF;
}

/* used for steps headings */
h6 {
  font-size: 20px;
  font-weight: 600;
}

p {
  font-size: 18px;
  line-height: 28px;
}

.btn {
  padding: 12px 32px;
  border: none;
  color: white;
  background-color: #6415ff;
  border-radius: 9999px;
  font-weight: 600;
  font-size: 14px;
  margin: 0;
  transition: all 300ms;

}

.btn:hover {
  background-color: #3c0d99;
}


/* 

NAVBAR

*/

.logo__wrapper {
  display: flex;
  align-items: center;
  width:40px;
  font-size: 24px;
  font-weight: 900;
}

a.logo__wrapper:hover {
  border-bottom: 2px solid transparent;
}

.logo {
  margin-right: 8px;
}

img {
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 14px;
}

.nav__links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__link {
  margin: 0 24px;
}

li:nth-child(5) .nav__link{
  margin: 0 24px 0 48px;
}



/* 

Header

*/

.header{
  display: flex;
  padding: 96px 0;
  justify-content: space-between;
  align-items: center;
}

.header__text {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__img {
  width: 60%;
}

.header__para {
  margin: 32px 0;
  color: #243e63;
}

.input__btn {
  display: flex;
  justify-content: space-between;
  border: solid;
  border-radius: 9999px;
  border-width: 2px;
  border-color: #a0aec0;
  width: 100%;
  padding: 5px;
  margin-bottom: 40px;
}


input {
  width: 100%;
  border: none;
  font-weight: 500;
  font-size: 100%;
  margin-left: 16px;
}

input:focus-visible {
  outline: none;
}

.email__btn {
  font-size: 100%;
  white-space: nowrap;
}

.header__para-customers {
  color: #a0aec0;
}

/* 

Features

*/

#features {
  text-align: center;
}


.features__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.section__para {
  max-width: 36rem;
  margin: 0 auto;
  margin-top: 16px;
}

.feature {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  padding: 32px 8px;
  width: calc(100% / 3);
}


.feature__logo--wrapper {
  text-align: center;
  border: 1px solid;
  border-color: #a0aec0;
  border-radius: 999px;
  padding: 20px;
}

.feature__logo {
  display: flex;
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
}

.feature__description {
  margin: 8px 0 0 16px;
}

.feature__description--title {
  font-size: 24px;
  font-weight: 700;
}

.feature__description--para {
  margin-top: 16px;
}

/* 

Sections

*/

/* 

Quality work

*/

.section__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__side-description,
.section__side-img {
  width: 50%;
}


#quality .section__side-description {
  margin-right: 64px;
}

#quality .section__para {
  margin-bottom: 24px;
}

#quality .section__side-img {
  border: 1px solid #e5e7eb;
  border-width: 1px;
  border-radius: 4px;
}




/* 

Steps

*/

#steps .section__side-description {
  padding-left: 64px;
}

.step__number {
  font-size: 36px;
  color: #cbd5e0;
  font-weight: 600;
  width: 50px;
}

.steps__para {
  font-size: 14px;
  font-weight: 500;
}
.step {
  display: flex;
  justify-content: start;
  margin-top: 32px;
}

.step__description {
  margin-left: 24px;
}

.steps__para {
  margin-top: 12px;
}

/* 

Values

*/

#values .img__wrapper img {
  width: 20px;
  height: 20px;
}


.values {
  display: flex;
  padding: 24px 0;

}

.value__heading {
  display: flex;
  align-items: center;
}

.value .img__wrapper {
  display: flex;
  padding: 8px;
  border-radius: 99px;
}


.img__wrapper-suitcase {
  background-color: #feb2b2;
}

.img__wrapper-suitcase img {
  filter: invert(20%) sepia(41%) saturate(2867%) hue-rotate(337deg) brightness(99%) contrast(90%);
}

.img__wrapper-dollar {
  background-color: #9AE6B4;
}

.img__wrapper-dollar img {
  filter: invert(37%) sepia(5%) saturate(3371%) hue-rotate(98deg) brightness(95%) contrast(99%);
}

.value span {
  font-weight: 700;
  font-size: 20px;
  padding-left: 8px;
}

#values .section__para {
  font-size: 16px;
  padding-right: 8px;
  margin-left: 0;
}