* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui;
  letter-spacing: 0.025em;
}

body {
  padding: 32px;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  padding: 80px;
}

.purple {
  color: #6415FF;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #243e63;
  transition: all 300ms;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
}

a:not(.btn):hover {
  color: #6415FF;
  border-bottom: 2px solid;
}

h1, h5, span {
  color: #243e63;
}

p {
  color: #777;
}

h1 {
  font-size: 48px;
}

h5 {
  font-size: 16px;
}

p {
  font-size: 18px;
  line-height: 28px;
}

.btn {
  padding: 12px 32px;
  border: none;
  color: white;
  background-color: #6415ff;
  border-radius: 9999px;
  font-weight: 600;
  font-size: 14px;
  margin: 0;
  transition: all 300ms;

}

.btn:hover {
  background-color: #3c0d99;
}


/* 

NAVBAR

*/

.logo__wrapper {
  display: flex;
  align-items: center;
  width:40px;
  font-size: 24px;
  font-weight: 900;
}

a.logo__wrapper:hover {
  border-bottom: 2px solid transparent;
}

.logo {
  margin-right: 8px;
}

img {
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 14px;
}

.nav__links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__link {
  margin: 0 24px;
}

li:nth-child(5) .nav__link{
  margin: 0 24px 0 48px;
}



/* 

Header

*/

.header{
  display: flex;
  padding: 96px 0;
  justify-content: space-between;
  align-items: center;
}

.header__text {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__img {
  width: 60%;
}

.header__para {
  margin: 32px 0;
  color: #243e63;
}

.input__btn {
  display: flex;
  justify-content: space-between;
  border: solid;
  border-radius: 9999px;
  border-width: 2px;
  border-color: #a0aec0;
  width: 100%;
  padding: 5px;
  margin-bottom: 40px;
}


input {
  width: 100%;
  border: none;
  font-weight: 500;
  font-size: 100%;
  margin-left: 16px;
}

input:focus-visible {
  outline: none;
}

.email__btn {
  font-size: 100%;
  white-space: nowrap;
}

.header__para-customers {
  color: #a0aec0;
}

/* 

Features

*/

#features {
  text-align: center;
}

.features__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.feature {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  padding: 32px 8px;
  width: calc(100% / 3);
}


.feature__logo--wrapper {
  text-align: center;
  border: 1px solid;
  border-color: #a0aec0;
  border-radius: 999px;
  padding: 20px;
}

.feature__logo {
  display: flex;
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
}

.feature__description {
  margin: 8px 0 0 16px;
}

.feature__description--title {
  font-size: 24px;
  font-weight: 700;
}

.feature__description--para {
  margin-top: 16px;
}